
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>홈플러스 문화센터</title>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        .outer {
            display: table;
            position: absolute;
            height: 80%;
            width: 100%;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

        .inner {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>
<body style="overflow:hidden;">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>시스템 오류안내</h1>
                <h2>이용에 불편을 드려 죄송합니다.<br />
                문의사항은 각 점 문화센터 데스크 전화를 이용하여 주시기 바랍니다.</h2>
            </div>
            <div class="inner">
                
            </div>
        </div>
    </div>
</body>
</html>
