
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>홈플러스 문화센터</title>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        .outer {
            display: table;
            position: absolute;
            height: 80%;
            width: 100%;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

        .inner {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>
<body style="overflow:hidden;">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>시스템 장애로 인하여 현재 홈플러스넷 사용이 불가합니다.<br />최대한 빠른 시간 내에 복구하도록 하겠습니다.</h1>
            </div>
            <div class="inner">
                
            </div>
        </div>
    </div>
</body>
</html>
